* {
}

body
{
    overflow:hidden;
}
#toDone {
    float: left;
    width: 40%;
    height: 90vh;
    margin-right: 30px;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 50px;
}
#middle {
    width: 45%;
    height: 90vh;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}
#toDo {
    height: 50vh;
    border: 1px solid;
    border-color: lightgray;
    margin-bottom: 4%;
    border-radius: 50px;
}
#memo {
    height: 38vh;
    width: 100%;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 50px;
    
}
#input{
    margin-top:3%;
    margin-left:10%;
    height:80%;
    width:80%;
    border-color:transparent;
}

#menu {
    background-color: lightgray;
    margin-top: 10px;
    width: 5%;
    height: 90vh;
    float: left;
    border-radius: 50px;
}
